@tailwind base;
@tailwind components;
@tailwind utilities;

.text-10 {
    font-size: 10px;
    line-height: 14px;
}

.bg-figure {
    background-image: url("/resources/assets/images/ChurchRegister.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.square {


}
