@tailwind base;
@tailwind components;
@tailwind utilities;

.text-10 {
    font-size: 10px;
    line-height: 14px;
}

.square {
    width: 100%;
    height: 100vh;
    background-color: #2D59A3;
}

.scroll-is-no-space {
    overflow: initial;
}

@media (max-height: 530px) {
    .scroll-is-no-space {
        overflow: scroll;
    }
}

@media (max-width: 1003px) {
    .square {
        display: none;
    }
}
