@import url("../app.css");
@import url("../custom.css");

.nav-container {
    width: 100px;
    height: 100px;
    background-color: red;
}

.nav-items {
    margin-bottom: 1rem;

}

.nav-items:hover {
    background-color: white;
    color: #1a202c;
    height: 1.7rem;
}

.mtp-50 {
    margin-top: 50%;
}

.icon svg {
    display: inline-block;
}

.nav-switch-icon svg{
    font-weight: bold;
    font-size: 18px;
    margin: 0.25rem;
}
