@import url("../app.css");
@import url("../custom.css");

.nav-container {
    width: 100px;
    height: 100px;
    background-color: red;
}

.nav-items {
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.nav-items a {
    text-decoration: none;
}

.nav-items:hover {
    background-color: white;
    color: #1a202c;
}

.nav-items a:hover {
    color: #1a202c;
}

.icon svg {
    display: inline-block;
}

.nav-switch-icon svg{
    font-weight: bold;
    font-size: 18px;
    margin: 0.25rem;
}
